# --- SERVER CONFIG ---
PORT=3000

# --- DATABASE ---
# Get this from MongoDB Atlas (e.g., mongodb+srv://...)
MONGO_URI=

# --- AUTH / SECURITY (For later) ---
JWT_SECRET=

# --- DEPLOYMENT ---
# Set to 'development' locally, 'production' on Render
NODE_ENV=development